body {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    background-color: #fff;
    padding: 20px;
}

a,
a:visited {
    color: #E06F38;
    text-decoration: none;
}

#options div {
    margin: 1em 0;
}

#options label {
    display: block;
    font-weight: bold;
}

#options input,
#options select,
button {
    font-size: 18px;
    margin-top: 5px;
    padding: 5px;
}

#options input[type=text] {
    font-size: 18px;
    margin-top: 5px;
    padding: 5px;
    min-width: 500px;
}

#options input[type=checkbox] {
    accent-color: #E06F38;
    height: 20px;
    width: 20px;
}

#commands-box {
    background: #eee;
    padding: 1em;
    text-wrap: auto;
}
